.App {
  box-sizing: border-box;
  text-align: center;
  --primary-border: hsl(43, 100%, 65%);
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
      circle at center center,
      transparent 0%,
      rgb(0, 0, 0) 85%
    ),
    linear-gradient(
      78deg,
      rgba(192, 192, 192, 0.05) 0%,
      rgba(192, 192, 192, 0.05) 50%,
      rgba(60, 60, 60, 0.05) 50%,
      rgba(60, 60, 60, 0.05) 100%
    ),
    linear-gradient(
      227deg,
      rgba(97, 97, 97, 0.05) 0%,
      rgba(97, 97, 97, 0.05) 50%,
      rgba(52, 52, 52, 0.05) 50%,
      rgba(52, 52, 52, 0.05) 100%
    ),
    linear-gradient(
      240deg,
      rgba(98, 98, 98, 0.05) 0%,
      rgba(98, 98, 98, 0.05) 50%,
      rgba(249, 249, 249, 0.05) 50%,
      rgba(249, 249, 249, 0.05) 100%
    ),
    linear-gradient(
      187deg,
      rgba(1, 1, 1, 0.05) 0%,
      rgba(1, 1, 1, 0.05) 50%,
      rgba(202, 202, 202, 0.05) 50%,
      rgba(202, 202, 202, 0.05) 100%
    ),
    linear-gradient(
      101deg,
      rgba(61, 61, 61, 0.05) 0%,
      rgba(61, 61, 61, 0.05) 50%,
      rgba(254, 254, 254, 0.05) 50%,
      rgba(254, 254, 254, 0.05) 100%
    ),
    linear-gradient(
      176deg,
      rgba(237, 237, 237, 0.05) 0%,
      rgba(237, 237, 237, 0.05) 50%,
      rgba(147, 147, 147, 0.05) 50%,
      rgba(147, 147, 147, 0.05) 100%
    ),
    linear-gradient(
      304deg,
      rgba(183, 183, 183, 0.05) 0%,
      rgba(183, 183, 183, 0.05) 50%,
      rgba(57, 57, 57, 0.05) 50%,
      rgba(57, 57, 57, 0.05) 100%
    ),
    radial-gradient(
      circle at center center,
      hsl(351, 4%, 12%),
      hsl(351, 4%, 12%)
    );
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%;
  min-width: 320px;
  max-width: 700px;
}

.gen-button {
  width: 100px;
  height: 40px;
  margin: 20px;
  border: 3px solid black;
  border-radius: 2px;
  font-size: 14pt;
  font-weight: 500;
  background-color: whitesmoke;
  box-shadow: 3px 3px black;
}

.gen-button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.gen-button:focus {
  outline: none;
}

.card-back {
  width: 284px;
  height: 392px;
  margin-top: 30px;
  border-radius: 4%;
}

.card {
  width: 256px;
  height: 364px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 14px solid var(--primary-border);
  border-radius: 4%;
}

.top-bar {
  width: 99%;
  height: 8%;
  display: flex;
  justify-content: center;
}

.thumbnail {
  min-height: 47px;
  min-width: 47px;
  border-radius: 50%;
  background-size: 280px;
}

.thumbnail-base {
  transform: translate(6px, 6px);
  background-position-x: -16px;
  background-position-y: -16px;
}

.thumbnail-neo {
  transform: translate(-4px, 2px);
  background-position-x: -5px;
  background-position-y: -14px;
}

.name-and-evolve-bar {
  width: 244px;
}

.evolve-text {
  height: 11px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 5pt;
}

.name-bar {
  height: 18px;
  min-width: 200px;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 11pt;
  font-weight: bold;
}

.top-right {
  display: flex;
  padding-right: 12px;
}

.top-left {
  display: flex;
}

.hit-points {
  color: red;
}

.type-symbol {
  width: 17px;
  height: 17px;
  margin-left: 2px;
}

.portrait {
  height: 44%;
  width: 88%;
  background-size: 280px;
  background-position-x: -27px;
  background-position-y: -42px;
  box-shadow: 4px 4px 8px black;
}

.stats-bar {
  height: 3%;
  width: 77%;
  margin-top: 3px;
  font-size: 6pt;
  background: repeating-linear-gradient(
    90deg,
    #9b750a 0px,
    #ab8624 40px,
    #ba9838 80px,
    #caaa4c 120px,
    #9b750a 160px
  );
}

.attacks {
  height: 28%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 8pt;
}

.attack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.first-attack {
  padding-bottom: 4px;
}

.second-attack {
  padding-top: 4px;
  border-top: 1px solid black;
}

.cost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 34px;
  flex-grow: 0;
  flex-shrink: 0;
}

.attack-text {
  line-height: 1.25;
  margin-left: 8px;
  margin-right: 8px;
}

.damage {
  margin-right: 4px;
  font-size: 150%;
  font-weight: bold;
}

.energy-symbol {
  height: 13px;
  margin: 1.5px;
}

.weak-res-ret {
  height: 7%;
  width: 88%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.retreat-cost {
  display: flex;
}

.wrt-el {
  margin-top: -3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 7pt;
}

.dex-bar {
  padding-left: 4px;
  text-align: left;
}

.dex-bar-wrap {
  height: 100%;
  width: 100%;
  line-height: 8px;
  font-size: 6pt;
}

.gradient-wrap {
  height: 5%;
  width: 88%;
  padding: 1px;
  background: repeating-linear-gradient(
    90deg,
    #9b750a 0px,
    #ab8624 40px,
    #ba9838 80px,
    #caaa4c 120px,
    #9b750a 160px
  );
}

.bottom-bar {
  font-size: 4.2pt;
}
