.App {
  text-align: center;
  box-sizing: border-box;
  --primary-border: hsl(43, 100%, 65%);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
      circle at center center,
      transparent,
      rgb(0, 0, 0)
    ),
    linear-gradient(
      300deg,
      rgba(198, 198, 198, 0.05) 0%,
      rgba(198, 198, 198, 0.05) 50%,
      rgba(11, 11, 11, 0.05) 50%,
      rgba(11, 11, 11, 0.05) 100%
    ),
    linear-gradient(
      64deg,
      rgba(54, 54, 54, 0.05) 0%,
      rgba(54, 54, 54, 0.05) 50%,
      rgba(132, 132, 132, 0.05) 50%,
      rgba(132, 132, 132, 0.05) 100%
    ),
    linear-gradient(
      17deg,
      rgba(57, 57, 57, 0.05) 0%,
      rgba(57, 57, 57, 0.05) 50%,
      rgba(128, 128, 128, 0.05) 50%,
      rgba(128, 128, 128, 0.05) 100%
    ),
    linear-gradient(
      332deg,
      rgba(97, 97, 97, 0.05) 0%,
      rgba(97, 97, 97, 0.05) 50%,
      rgba(85, 85, 85, 0.05) 50%,
      rgba(85, 85, 85, 0.05) 100%
    ),
    linear-gradient(
      148deg,
      rgba(237, 237, 237, 0.05) 0%,
      rgba(237, 237, 237, 0.05) 50%,
      rgba(211, 211, 211, 0.05) 50%,
      rgba(211, 211, 211, 0.05) 100%
    ),
    linear-gradient(
      142deg,
      rgba(168, 168, 168, 0.05) 0%,
      rgba(168, 168, 168, 0.05) 50%,
      rgba(32, 32, 32, 0.05) 50%,
      rgba(32, 32, 32, 0.05) 100%
    ),
    linear-gradient(
      15deg,
      rgba(225, 225, 225, 0.05) 0%,
      rgba(225, 225, 225, 0.05) 50%,
      rgba(228, 228, 228, 0.05) 50%,
      rgba(228, 228, 228, 0.05) 100%
    ),
    linear-gradient(
      5deg,
      rgba(104, 104, 104, 0.05) 0%,
      rgba(104, 104, 104, 0.05) 50%,
      rgba(43, 43, 43, 0.05) 50%,
      rgba(43, 43, 43, 0.05) 100%
    ),
    radial-gradient(circle at center center, hsl(290, 5%, 8%), hsl(290, 5%, 8%));
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gen-button {
  margin: 20px;
  width: 100px;
  height: 40px;
  border: 3px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px black;
  font-size: 14pt;
  font-weight: 500;
}

.gen-button:active {
  box-shadow: none;
  transform: scale(0.95);
}

.gen-button:focus {
  outline: none;
}

.Cardback {
  width: 284px;
  height: 392px;
  border-radius: 4%;
  margin-top: 30px;
}

.Card {
  margin-top: 30px;
  width: 256px;
  height: 364px;
  border: 14px solid var(--primary-border);
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.top-bar {
  width: 99%;
  height: 8%;
  display: flex;
  justify-content: center;
}

.thumbnail-base {
  min-height: 47px;
  min-width: 47px;
  transform: translate(6px, 6px);
  border-radius: 50%;
  background-size: 280px;
  background-position-x: -16px;
  background-position-y: -16px;
}

.thumbnail-neo {
  min-height: 47px;
  min-width: 47px;
  transform: translate(-4px, 2px);
  border-radius: 50%;
  background-size: 280px;
  background-position-x: -5px;
  background-position-y: -14px;
}

.Evolvetext {
  display: flex;
  justify-content: space-between;
  height: 11px;
  min-width: 200px;
  font-size: 5pt;
}

.Namebar {
  padding-left: 8px;
  height: 18px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 11pt;
  font-weight: bold;
}

.top-right {
  display: flex;
  padding-right: 12px;
}

.top-left {
  display: flex;
}

.hit-points {
  color: red;
}

.type-symbol {
  width: 17px;
  height: 17px;
  margin-left: 2px;
}

.Portrait {
  height: 44%;
  width: 88%;
  box-shadow: 4px 4px 8px black;
  background-size: 280px;
  background-position-x: -27px;
  background-position-y: -42px;
}

.Statsbar {
  height: 3%;
  width: 77%;
  background: repeating-linear-gradient(
    90deg,
    #9b750a 0px,
    #ab8624 40px,
    #ba9838 80px,
    #caaa4c 120px,
    #9b750a 160px
  );
  margin-top: 3px;
  font-size: 6pt;
}

.Attacks {
  height: 28%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 8pt;
}

.attack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.cost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 34px;
  flex-grow: 0;
  flex-shrink: 0;
}

.attackText {
  margin-left: 8px;
  margin-right: 8px;
  line-height: 1.25;
}

.damage {
  font-size: 150%;
  font-weight: bold;
  margin-right: 4px;
}

.WeakResRet {
  height: 7%;
  width: 88%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.dexbar-wrap {
  height: 100%;
  width: 100%;
  font-size: 6pt;
  line-height: 8px;
}

.gradient-wrap {
  height: 5%;
  width: 88%;
  background: repeating-linear-gradient(
    90deg,
    #9b750a 0px,
    #ab8624 40px,
    #ba9838 80px,
    #caaa4c 120px,
    #9b750a 160px
  );
  padding: 1px;
}

.wrt-el {
  font-size: 7pt;
  margin-top: -3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retreat-cost {
  display: flex;
}

.energy-symbol {
  height: 13px;
  margin: 1.5px;
}

.bottom-bar {
  font-size: 4pt;
}
